<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bread</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/fontawesome/css/all.css" rel="stylesheet">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <div class="container-fluit" style="padding: 1rem;">
    <div class="card">
      <div class="card-header">
        <h1>Bread</h1>
      </div>
      <input type="hidden" name="page" value="1">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <form action="/" method="post" id="form-users">
              <div class="card">
                <div class="card-body">
                  <!-- String -->
                  <div class="row">
                    <div class="col-2">
                      <label for="string" class="visually-hidden">string</label>
                      <input type="text" readonly class="form-control-plaintext" value="String">
                    </div>
                    <div class="col-10">
                      <div class="col-auto">
                        <label for="string" class="visually-hidden">string</label>
                        <input type="text" class="form-control" id="string" name="string" placeholder="string">
                      </div>
                    </div>
                  </div>
                  <!-- Akhir String -->
                  <!-- Integer -->
                  <div class="row">
                    <div class="col-2">
                      <label for="integer" class="visually-hidden">integer</label>
                      <input type="text" readonly class="form-control-plaintext" value="Integer">
                    </div>
                    <div class="col-10">
                      <div class="col-auto">
                        <label for="integer" class="visually-hidden">interger</label>
                        <input type="number" class="form-control" id="integer" name="integer" placeholder="integer">
                      </div>
                    </div>
                  </div>
                  <!-- Akhir integer -->
                  <!-- awal float -->
                  <div class="row">
                    <div class="col-2">
                      <label for="float" class="visually-hidden">float</label>
                      <input type="text" readonly class="form-control-plaintext" value="Float">
                    </div>
                    <div class="col-10">
                      <div class="col-auto">
                        <label for="float" class="visually-hidden">float</label>
                        <input type="number" class="form-control" id="float" name="float" placeholder="float"
                          step="0.005">
                      </div>
                    </div>
                  </div>
                  <!-- akhir float -->
                  <!-- awal date --><input type="hidden" name="page" value="1">
                  <div class="row">
                    <div class="col-2">
                      <label for="date" class="visually-hidden">date</label>
                      <input type="text" readonly class="form-control-plaintext" value="Date">
                    </div>
                    <div class="col-10">
                      <div class="col-auto">
                        <label for="date" class="visually-hidden">date</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="date">
                      </div>
                    </div>
                  </div>
                  <!-- akhir date -->
                  <!-- awal Boolean -->
                  <div class="row">
                    <div class="col-2">
                      <label for="Boolean" class="visually-hidden">Boolean</label>
                      <input type="text" readonly class="form-control-plaintext" value="Boolean">
                    </div>
                    <div class="col-10">
                      <select class="form-select" aria-label="Default select example" id="boolean" name="boolean">
                        <option selected disabled>Pilih</option>
                        <option value="1">True</option>
                        <option value="2">false</option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>
                  <a href="/">
                    <button type="reset" class="btn btn-danger"><i class="fa-solid fa-ban"></i></button>
                  </a>
            </form>
            <!-- Akhir Boolean -->
            <!-- botom -->
            <!-- akhir boolean -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="get" id="form-search">
              <div class="row">
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      String
                    </label>
                  </div>
                </div>
                <div class="col-10">
                  <div class="col-auto">
                    <label for="string" class="visually-hidden">string</label>
                    <input type="text" class="form-control" id="string" placeholder="string">
                  </div>
                </div>
              </div>
              <!-- akhir string -->
              <!-- integer -->
              <div class="row">
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Integer
                    </label>
                  </div>
                </div>
                <div class="col-10">
                  <div class="col-auto">
                    <label for="integer" class="visually-hidden">integer</label>
                    <input type="number" class="form-control" id="integer" placeholder="integer">
                  </div>
                </div>
              </div>
              <!-- akhir integer -->
              <!-- float -->
              <div class="row">
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Float
                    </label>
                  </div>
                </div>
                <div class="col-10">
                  <div class="col-auto">
                    <label for="integer" class="visually-hidden">integer</label>
                    <input type="number" class="form-control" id="integer" placeholder="integer" step="0.005">
                  </div>
                </div>
              </div>
              <!-- akhir float -->
              <!-- awal date -->
              <div class="row">
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Date
                    </label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="col-auto">
                    <label for="date" class="visually-hidden">integer</label>
                    <input type="date" class="form-control" id="integer" placeholder="integer">
                  </div>
                </div>
                <div class="col-5">
                  <div class="col-auto">
                    <label for="date" class="visually-hidden">integer</label>
                    <input type="date" class="form-control" id="integer" placeholder="integer">
                  </div>
                </div>
              </div>
              <!-- akhir date -->
              <!-- boolean -->
              <div class="row">
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Boolean
                    </label>
                  </div>
                </div>
                <div class="col-10">
                  <select class="form-select" aria-label="Default select example">
                    <option selected disabled>Pilih</option>
                    <option value="1">True</option>
                    <option value="2">false</option>
                  </select>
                </div>
              </div>
              <button type="" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
              <a href="/">
                <button type="reset" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
  </div>
  <div class="card">
    <h5 class="card-header">Table</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="no-sort">ID</th>
            <th scope="col">String</th>
            <th scope="col">Integer</th>
            <th scope="col">Float</th>
            <th scope="col">Date</th>
            <th scope="col">Boolean</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="table-users">

        </tbody>
      </table>
    </div>
  </div>
  <script>
    let idEdit = null;
    var params = {
      display: 3,
      page: 1
    }
    const readData = () => {
      fetch('http://localhost:3001/')
        .then((response) => {
          return response.json()
        })
        .then((data) => {
          let html = ""
          data.data.forEach((item, index) => {
            html += `
            <tr>
              <td>${item._id}</td>
              <td>${item.strings}</td>
              <td>${item.integers}</td>
              <td>${item.floats}</td>
              <td>${item.dates}</td>
              <td>${item.booleans}</td>
              <td>
                <button type="button" class="btn btn-primary" onclick='editData(${JSON.stringify(item)})'><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-danger" onclick="removeData('${item._id}')"><i class="fa-solid fa-trash"></i></button>
              </td>
          </tr>
            `
          });
          document.getElementById('table-users').innerHTML = html
        })
        .catch((err) => {
          console.log(err)
          alert('err tu')
        })
    }
    const saveData = () => {
      const string = document.getElementById('string').value
      const integer = document.getElementById('integer').value
      const float = document.getElementById('float').value
      const date = document.getElementById('date').value
      const boolean = document.getElementById('boolean').value

      if (idEdit == null) {
        fetch('http://localhost:3001/', {
          method: 'POST', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ string, integer, float, date, boolean }),
        })
          .then((response) => response.json())
          .then((data) => {
            readData()
          })
          .catch((error) => {
            alert('tambah gagal')
            console.error('Error:', error);
          });
      } else {
        fetch(`http://localhost:3000/users/${idEdit}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ string, integer, float, date, boolean })
        }).then((response) => response.json()).then((data) => {
          readData()
        })
        idEdit = null;
      }
      document.getElementById('string').value = ''
      document.getElementById('integer').value = ''
      document.getElementById('float').value = ''
      document.getElementById('date').value = ''
      document.getElementById('boolean').value = ''
    }
    const removeData = (id) => {
      fetch(`http://localhost:3000/users/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response) => response.json()).then((data) => {
        readData()
      })
    }
    document.getElementById("form-users").addEventListener("submit", function (event) {
      event.preventDefault()
      saveData()
    });



    readData()
  </script>
</body>

</html>